body {
	font-family: 'Roboto', sans-serif;
	background: #f4f5ff;
	margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.join-container {
	max-width: 500px;
	margin: 180px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 10px;
	background: #128c7e;
}

.join-main {
	padding: 30px 120px;
	background: #cacaca;
	display: flex;
	justify-content: space-between;
}

.btn {
	cursor: pointer;
	background: #e6e9ff;
	color: #128c7e;
	font-size: 24px;
    height: 80px;
    width: 80px;
	border: none;
	border-radius: 50%; 
	margin: 0 auto;
}
